.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #e5ecf3;
  }
}

.form {
  margin: 2rem 0;

  & > div {
    margin-bottom: 1.75rem;
  }

  // Borrar
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;

  & > div {
    margin: 0.5rem 0;
  }
}

.btn {
  border: none;

  background-color: #2f80ed;
  color: white;

  border-radius: 0.5rem;
  min-height: 2.5rem;

  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSocial {
  @extend .btn;
  background-color: #15202b;

  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    margin-right: 0.125rem;
    width: 1.85rem;
  }

  & > div {
    min-width: 6.5rem;
    display: flex;
    align-items: center;
  }
}

.span {
  display: block;
  text-align: center;

  margin-bottom: 1rem;

  color: #e5ecf3;

  & > span {
    color: #2f80ed;
    cursor: pointer;
  }
}

.spanError {
  font-size: 1rem;
  color: #eb5757;
  margin-top: 1rem;

  position: relative;
}

.container {
  width: 100%;
  height: 40rem;
  position: relative;

  & > div {
    width: 100%;
    height: 38rem;

    position: absolute;

    background-color: #0b1116;
  }

  & > div:not(:first-child) {
    transform: translateX(110%);
    transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.display {
  transform: translateX(0%) !important;
  transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
}

.subtitle {
  font-size: 1rem;
  margin: 1.5rem 0 0 0;

  color: #e5ecf3;

  & + p {
    color: #d4dfea;
    margin: 0 0 2rem 0;
  }
}
